<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632081970928-8t11sr68iv4racsv2qqiione9d96q3ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632081970928-8t11sr68iv4racsv2qqiione9d96q3ak</string>
	<key>API_KEY</key>
	<string>AIzaSyDlWZXqSpRAWXleJR5aN5x9AgpZ1QxZdNs</string>
	<key>GCM_SENDER_ID</key>
	<string>632081970928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adria-bt.Simple-Chat</string>
	<key>PROJECT_ID</key>
	<string>adria-simple-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>adria-simple-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632081970928:ios:d8f0f1681ad58d460d7435</string>
	<key>DATABASE_URL</key>
	<string>https://adria-simple-chat.firebaseio.com</string>
</dict>
</plist>